body {
	font-size: 12px;
}

#play{
	background: #b7d0a9;
	padding-right: 26px;
	border:none;
	border-radius: 3px;
	color: black;
	margin: 0,0,0,0;
	padding: 0 10px;
	width: 60px;
	cursor: pointer;
	height: 25px;
}

#play:hover {
	background-color: #bdbdbd;
}    

.ticks {
	font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
	stroke-linecap: round;
}

.track {
	stroke: #000;
	stroke-opacity: 0.3;
	stroke-width: 10px;
}

.track-inset {
	stroke: #dcdcdc;
	stroke-width: 8px;
}

.track-overlay {
	pointer-events: stroke;
	stroke-width: 50px;
	stroke: transparent;
}

.handle {
	fill: #fff;
	stroke: #000;
	stroke-opacity: 0.5;
	stroke-width: 1.25px;
}

#next-buttons{
	margin-top:15px;
	margin-left:60px;
}

#play-button{
	margin-top:20px;
}
#dropdown{
	margin-bottom:20px;
	margin-left:100px;
}
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}
