#details{
}
.states{
	stroke: #E5E5E5;
	stroke-width:1px;
}
path{
	fill:none;
	stroke:#000000;
}
path:hover{
	opacity:0.7;
}
.row{
	margin-right:3%;
	margin-left:3%;
}
.reducedfontsize {
     font-size:0.8rem;
 }
.nopadding {
    padding: 0rem;
}

#summary{
	margin-right:3%;
}

#card_title{
	padding:1rem;
}
.list-group-item{
	font-size:0.8rem;
}
.card{
	opacity:0;
}
#seeMore{
	color: "grey";
	font-size:0.8rem;
}
